.nav-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-logo {
	display: flex;
	flex-direction: row;
	justify-self: flex-start;
}

.nav-searchbar {
	display: flex;
	padding: 6px;
	margin-left: 16px;
	font-size: 17px;
	width: 30vw;
	height: 50vh;
	flex-direction: row;
	justify-content: space-between;
}

.submit {
	background: #102f66;
	color: white;
	width: 50px;
}