body {
	margin: 0;
	padding: 0;
	background-color: lightblue;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1;
}

footer {
	border: 2px red solid;
	position: relative;
	height: 350px;
	max-height: 350px;
	overflow: hidden;
}

.polaroid {
	position: absolute;
	width: 15%;
	max-width: 250px;
	min-width: 180px;
	height: auto;
	border: 20px solid #fff;
	border-bottom: 60px solid #fff;
	box-shadow: 0px 0px 10px #999;
	z-index: 3;
}

.polaroid--first {
	width: 18%;
	max-width: 280px;
	transform: rotate(10deg);
	bottom: -140px;
	left: -1%;
}

.polaroid--second {
	bottom: -100px;
	transform: rotate(2deg);
	left: 19%;
}

.polaroid--third {
	width: 18%;
	max-width: 280px;
	bottom: -160px;
	transform: rotate(357deg);
	left: 38%;
}

.polaroid--fourth {
	bottom: -160px;
	transform: rotate(5deg);
	left: 55%;
}

.polaroid--fifth {
	width: 20%;
	max-width: 300px;
	bottom: -170px;
	transform: rotate(350deg);
	left: 70%;
	z-index: 2;
}

.polaroid--sixth {
	width: 17%;
	max-width: 250px;
	bottom: -160px;
	transform: rotate(5deg);
	left: 91%;
	z-index: 1;
}